#editWrapper {
	background: url('../../includes/img/bodyPurpleBg.jpg') no-repeat;
	background-size: 100%;
	padding: 21px 0 30px 0;
}

#editLabel {
	background: url('../../includes/img/edit_label.png') no-repeat left;
	position: absolute;
	top: 61px;
	left: 0px;
	width: 100px;
	height: 100px;
}

#videoDetailsEditorHolder {
	margin: 0 auto;
	width: 890px;
}

#leftInputsHolder {
	width: 440px;
	float: left;
	padding-left: 40px;
}

#videoDetailsEditorHolder label {
	color: #eea541;
	float: left;
	width: 100px;
	text-align: right;
	padding: 9px 10px 0px 0px;
}

.singleInputWrapper {
	padding-top: 9px;
}

#videoDetailsEditorHolder input, textarea, select, option {
	width: 241px;
	padding: 7px;
	color: #FFFFFF;
	background: #000000;
}

textarea {
	resize: none;
	border: 0px;
}

#editLectureTitleInput, #descriptionLectureInput {
	border: 0px;
	border-left: 3px solid #27cbc5;
}

#videoDetailsEditorHolder select {
	border: 1px solid #252234;
}

#privacyLabel {
	padding: 3px 10px 0px 0px !important;
}

#privacyImg {
	width: 120px;
	height: 23px;
	background: #27cbc5;
	display: inline-block;
	border-left: 3px solid #27cbc5;
}

.styled-select {
	overflow: hidden;
	background: url('../../includes/img/edit_arrow.jpg') no-repeat right #000;
}

#rightInputsHolder {
	width: 430px;
	float: right;
}

#editPanelWrapper {
	margin: 25px auto;
	width: 890px;
	border-radius: 1px;
	box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.2);
}

#editPanelTop {
	height: 220px;
	width: 890px;
	background: #212122;
}

#viewerBottom {
	height: 72px;
	width: 890px;
	background: #212122;
}

#graySpace {
	width: 70px;
	height: 220px;
	background: #212122;
	float: left;
}

#draggableImagesHolder {
	width: 820px;
	height: 220px;
	background: url('../../includes/img/edit_panelEcholizerBg.jpg') no-repeat right #000;
	background-size: 100%;
	position: relative;
	float: right;
}

#draggableImagesHolder img {
	width: 54px;
	height: 37px;
}

#viewOptions {
	width: 820px;
	height: 70px;
	padding-top: 7px;
	background-color: #212122;
	float: right;
}

#remindersHolder {
	height: 27px;
}

.sliderReminderIcon {
	color: gainsboro;
	position: absolute;
}
.sliderReminderIcon:hover {
	color: orange;
	cursor: pointer;
}

.playPauseBtn, .playPauseBtn:hover {
	float: left;
	margin-left: 3px;
	margin-top: 3px;
	background-color: #000000;
	color: gainsboro;
	font-size: xx-large;
}
.playPauseBtn :hover {
	color: aliceblue;
}

#secondSlider {
	margin-bottom: 5px;
	border-radius: 6px;
}

.playPauseBtn {
	width: 65px;
	height: 65px;
	background: #000;
	float: left;
}

#draggableTagsHolder {
	width: 820px;
	background-color: #212122;
	position: relative;
	float: right;
	bottom: 28px;
}

#draggableImagesHolder .draggableImage {
	position: absolute;
	top: 80px;
	display: inline-block;
	border: 1px solid #7f4d0b;
}

#draggableImagesHolder .draggableImage:hover {
	z-index: 200;
	border: 2px solid #ff9a17;
}

#draggableTagsHolder .draggableTag {
	position: absolute;
	top: 15px;
	width: 144px;
	height: auto;
	display: inline-block;
}

#draggableTagsHolder .draggableTag:hover {
	z-index: 200;
}

.draggableTag #tagOptionButton {
	padding: 2px;
	background: #29292e;
}

.draggableTag #confirmOrCancelButtons {
	padding: 3px 0 3px 0;
	display: none;
	text-align: center;
}

.draggableTag #editTagButtonsHolder {
	border-left: 3px solid #000;
	border-right: 3px solid #000;
	background: #29292e;
}

#tagTextWrapper {
	padding: 3px;
	background: #29292e;
	border-left: 3px solid #000;
	border-right: 3px solid #000;
	border-bottom: 3px solid #000;
}

.draggableTag  #tagTextHolder {
	padding: 3px;
	font-size: 12px;
	color: #dfdfdf;
	background: #000;
}

.draggableTag button {
	border: none;
}

#editTagTextArea {
	color: #dfdfdf;
	background: #000000;
	width: 100%;
}

.draggableTag {
	padding: 5px 0 5px 0;
}

#currentTime {
	color: #87879a;
}

#playerHolder .slider {
	width: 820px;
	float: right;
}

#editConfirmationButtons {
	width: 890px;
	margin: 0 auto;
	margin-top: 133px;
	text-align: center;
	padding: 18px 0px;
	border-radius: 1px;
	box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.2);
}

#tagTop {
	background: url('../../includes/img/edit_tagTop.png') no-repeat;
	background-position: left;
	height: 14px;
	width: 144px;
}

.editButton {
	background: url('../../includes/img/edit_editSmallGray.jpg') no-repeat;
	height: 30px;
	width: 30px;
}

.deleteButton {
	background: url('../../includes/img/edit_deleteSmallGray.jpg') no-repeat;
	height: 30px;
	width: 30px;
}

.deleteImg {
	float: right;
	position: absolute;
	top: -12px;
	right: -12px;
	cursor: pointer;
	color: #CCCCCC;
	background: transparent;
	border: 0px;
}

.deleteImg .btn-xsm{
	
} 

#confirmButton {
	background: url('../../includes/img/edit_confirmSmall.jpg') no-repeat;
	height: 30px;
	width: 30px;
}

#cancelButton {
	background: url('../../includes/img/edit_cancelSmall.jpg') no-repeat;
	height: 30px;
	width: 30px;
}

#saveChanges{
	background: url('../../includes/img/edit_save.jpg') no-repeat;
	height: 30px;
	width: 83px;
	border: 0px;
}

#goBack{
	background: url('../../includes/img/edit_cancel.jpg') no-repeat;
	height: 30px;
	width: 93px;
	border: 0px;
}

#deleteSession{
	background: url('../../includes/img/edit_deleteLecture.jpg') no-repeat;
	height: 30px;
	width: 160px;
	border: 0px;
}
