#exploreWrapper {
	display: inline-block;
}

#exploreHolder {
	min-height: 50px;
	text-align: center;
	background-color: #000;
	padding-top: 10px;
}

#exploreBody {
	min-height: 50px;
	margin: 0 auto;
}

#selectionStringHolder {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #ff9a17;
	direction: rtl;
	text-align: center;
	padding: 10px 0 10px 0;
}

#selectionStringHolder h2 {
	display: inline;
}

#browseLeft {
	width: 50px;
	min-height: 50px;
	float: left;
	font-size: 40px;
	text-align: center;
	visibility: hidden;
}

#tagsHolder {
	width: 960px;
	min-height: 50px;
	float: left;
	text-align: center;
}

#browseRight {
	width: 50px;
	min-height: 50px;
	float: left;
	font-size: 40px;
	text-align: center;
	visibility: hidden;
}

.arrowDisabled {
	color: #404040;
}

.tag {
	display: inline-block;
	white-space: nowrap;
	text-decoration: none;
	border-radius: 5px;
	position: relative;
	overflow: visible;
	padding: 4px 9px;
	margin-right: 4px;
	margin-bottom: 8px;
	margin-left: 0px;
}

.tag  a:visited, a:hover, a:focus, a:active {
	text-decoration: none;
}

.arrowEnabled {
	color: #808080;
}

.arrowEnabled:hover {
	color: #404040;
}

.chosenTag {
	display: inline;
}

.chosenTag:hover {
	text-decoration: line-through;
	cursor: pointer;
}

.chosenTagDisabledClick {
	display: inline;
}

#popularVideosWrapper, #followingVideosWrapper {
	display: none;
}

.fwPicAndName span {
	color: #555555;
	font-size: 16px;
	padding-left: 5px;
	text-transform: capitalize;
	font-weight: bolder;
	display: table-cell;
	vertical-align: middle;
}

.fwPicAndName .profilePic {
	width: 50px;
	height: 50px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
}

.fwPicAndName {
	padding: 15px 0 0 16px;
}

.sectionTitle {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #ff9a17;
	font-size: 25px;
	font-weight: bolder;
	padding-left: 16px;
}

#searchResults {
	padding: 15px;
	color: #ff9a17;
}

.fwPicAndName a {
	display: table;
	vertical-align: middle;
}

/***************************************************************/
/****************** Mobile media queries ***********************/
/***************************************************************/
@media only screen and (max-width: 480px) {
	#exploreHolder {
		width: 480px;
	}

	#selectionStringHolder h2 {
		font-size: 25px;
	}

	#browseRight {
		visibility: hidden;
		min-height: 100px;
		float: left;
	}
	
	#browseLeft{
		min-height: 100px;
		float: left;
		visibility: hidden;
	}
	
	#tagsHolder {
		width: 380px;
		min-height: 50px;
		float: left;
		text-align: center;
	}
	.tag {
		border: 1px solid;
		font-size: 13px;
		padding: 3px;
		margin: 4px;
	}
	
	#exploreBody{
		width: 480px;
	}
}

/***************************************************************/
/****************** Tablet media queries ***********************/
/***************************************************************/
@media only screen and (min-width: 481px) and (max-width: 1023px) {
	#exploreHolder {
		width: 100%;
	}

	#selectionStringHolder h2 {
		font-size: 25px;
	}

	#browseRight {
		visibility: hidden;
		min-height: 100px;
		float: left;
	}
	
	#browseLeft{
		min-height: 100px;
		float: left;
		visibility: hidden;
	}
	
	#tagsHolder {
		width: 90%;
		min-height: 50px;
		float: left;
		text-align: center;
	}
	
	.tag {
		border: 1px solid;
		font-size: 13px;
		padding: 3px;
		margin: 4px;
	}

	#browseRight {
		position: absolute;
		right: 0px;
		visibility: hidden;
	}
}