* {
	margin: 0px auto;
	padding: 0px;
}

header, footer, nav, main, section, article, aside {
	display: block;
}

#mainBody {
	background-color: #1C454B;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}


.largeText {
	font-size: 50px;
	font-family: Arial, Helvetica, sans-serif;
}

.centralize {
	width: 400px;
	height: 200px;
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#profileTopNav {
	padding: 3px;
	background-color: #1C454B;
	height: 50px;
	color: white;
}


.clear {
	clear: both;
}

#title{
	text-align: center;
	font-size: 25px;
}
