/**************************************************************************************************/
/**************************************************************************************************/
/**************************************************************************************************/
*, hr{
	margin: 0 auto;
	padding: 0;
}
hr {
	border-color: #52505e;
}
#tagsLableHr {
	width: 94%;
}

#outerBg{
	background: url('../../includes/img/bodyPurpleBg.jpg') no-repeat;
	background-size: 100%;
}

#playerWrapper {
	width: 85%;
	margin: 0 auto;
	  padding-top: 25px;
}
#tagsHolder{
	background-color: #121118;
	/* float: right; */
	/*width: 30%;*/
	/*margin-left: 15px;
	overflow: hidden;
	position: absolute;
	top: 70px;
	right: 10%;*/
}

#tagsContainer {
	padding: 22px;
	overflow: auto;
	height: 400px;
	/*width:108%;*/
}

h1 {
	font-size: 16px;
	color: #333;
}

.element {
	background-color: #212122;
	padding: 0.8%;
}
#media-player {
	/* width: 70%; */
	/* padding: 1em 1em .5em; */
	width: 660px;
	/* height: 360px; */
	text-align: center;
	float: left;
	/*border-right: 1px solid #AEAFAF;*/
	margin-bottom: 15px;
}

#viewContainer {
	background-color: black; 
	width: 640px;
	height: 360px;
}
#viewOp {
	position: absolute;
}
#transparent {
	background-color: transparent;
	position: absolute; 
	width: inherit;
	height: inherit;
	z-index: 2;
}
#viewPhotos {
	background-image: url('../img/playmovie_defaultPoster.png');
	z-index: 1;
}
#viewerBottom {
	/*position: relative;*/
	background-color: rgb(33,33,34);
	width: 640px;
}

.playPauseBtn , .playPauseBtn:hover {
	float: left;
	margin-right: 1%;
	margin-top: 0.8%;
    background-color: #000000;
    color: gainsboro;
    font-size: xx-large;
}
.playPauseBtn :hover {
	color: aliceblue;
}

#viewOptions {
	display: table;
	width: 90.5%;
}


#remindersHolder {
	height: 27px;
}
.sliderReminderIcon{
	color: gainsboro;
	position: absolute;
}
.sliderReminderIcon:hover{
	color: orange;
	cursor: pointer;
}
#secondSlider {
	/*margin-top: 30px;*/
	margin-bottom: 5px;
	border-radius: 6px;
	/*width: 100%;*/
	/*height: 13px;*/
}
#currentTime {
	float: left;
	color: gainsboro;
	/*display: inherit;*/
}
#fullTime {
	display: inherit;
	color: gray;
	float: left;
}
#editButton {
	float: right;
	background-color: #000000;
	color: #ff7b30;
	border: none;
}


.tagFullName {
	color: #e5a033;
}





#videoDescriptionHolder {
	/* float: left; */
	/* text-align: left; */
	margin-top: 60px;
}
#title {
  background-color: #000000;
  color: #ffaf30;
  height: 37px;
  max-height: 37px;
  text-align: left;
  max-width: ;
  float: left;
  font-size: x-large;
  padding: 2px 10px 2px 10px;
  display: table;
}
#videoDescription {
	border-top: 3px solid #289b9b;
}

.leftHolder{
}
#profile{
}
.profilePicOwner{
	/*width: 35px;
	height: 35px;*/
	background: #1C454B;
	/*-moz-border-radius: 87.5px;
	-webkit-border-radius: 87.5px;*/
	background-position: 50% 50%;
	background-repeat: no-repeat;
	
}

.voteContainerLine {
	/*height: 34px;*/
	float: left;
	/*background-color: #48485;*/
}
.voteContainer {
	float:right;
	/*height: 20px;*/
	/*background-size: auto;*/
	/*width: 20px;*/
	/*height: 20px;*/
}
#viewerDescription {
	/*position: relative;
	 bottom:4px;*/
	/*height: 20px;*/
	color: #c6c6c6;
	background-color: #cccccc;
}

.voteLinks {
	float: left;
	height: inherit;
	opacity: .5;
}
.voteLinks:hover {
	opacity: .6;
}
.voteLinks:active {
	opacity: 1;
}
.voteNumber {
	/*width: 20px;*/
	/*height: inherit;*/
	/*margin-left: 5px;
	 margin-right: 5px;*/
	float: left;
}
.votePic {
	width: 20px;
	/*background-repeat: no-repeat;*/
	height: inherit;
	background-size: 100%;
	/*margin-top: 3px;*/
	/*margin-bottom: 3px;*/
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}
#voteDown {
	/*background-image: url('../img/down.png');*/
	background: no-repeat url('//s.ytimg.com/yts/imgbin/www-hitchhiker-vflq3y4n_.webp') -275px -47px;
	/*// no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflynt-iQ.webp) -552px -77px;*/
}

#voteUp {
	/*background-image: url('../img/up.png');*/
	background: no-repeat url('//s.ytimg.com/yts/imgbin/www-hitchhiker-vflq3y4n_.webp') -109px -143px;
	/* // no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflq3y4n_.webp) -20px -116px
	 // no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflynt-iQ.webp) -279px -142px; */
}



.tagsProfilePic {
	  margin-right: 10px;
}
.leftIcon{
	margin-right: 10px;
}
.rightIcon{
	margin-left: 10px;
}
#ownerProfile{
	display: inline-block;
	margin-left: 3%;
}
#ownerFullName{
	font-weight: bolder;
	color: #ffffff;
}
#followButton{
   color: #e5702e;
   font-weight: bolder;
   background-color: initial;
   border: none;
   padding: 0;
   margin: 0;
}
#description {
	color: #dfdfdf;
	margin-bottom: 23px;
}
#descriptionHr {
	margin-bottom: 10px;
}
#share {
	margin-left: 16px;
	background-color: #000000;
	color: #ff7b30;
	border: none;
}
#videoParticipants{
	  font-weight: bolder;
  	  color: #878788;
}
#viewTimes{
	float: right;
  margin-top: 7px;
  color: #9a9a9c;
  margin-right: 2px;
}
#viewTimesText {
	color: #ffffff;
}
#participants{
	height: 50px;
}
#participants img{
	padding: 3px;
}

#favoritesButton{
	background-color: initial;
	  margin-top: -4px;
}
.favoritesButtonClicked{
	color:yellow;
}

#date{
	font-weight: bold;
	/*float:left;*/
	margin-right: 3%;
}
#footer{
	text-align: left;
	  margin-bottom: 100px;
	    margin-top: 60px;
}
#beforeComments{
	margin-top: 20px;
	margin-bottom: 20px;
}
#profileBody{
	vertical-align: top;
	width:50px;
}
.voteUp{
	color: #23d78d;
}
.voteDown{
	color: #c2264e;
}
.formPic{
	float:left;
}
.unlikeVal{
	/*margin-right: 10px;*/
}
#movieUnlikeVal {
}
.likeVal{
	/*margin-left: 10px;*/
}
#movieLikeVal {
}

.opacityButton {
	opacity: 0.3;
}
#ownerDetails {
	  margin-bottom: 20px;
  float: left;
  width: 35%;
}
#dateAndFavorites {
	display: flex;
	float: right;
	width: 23%;
	color: #878788;
}
#tagsLable{
	color: #ff9a17;
}
.likeAndUnlikeButton{
	background-color: #0d0c11;
}
.likeButton , .likeButton:hover, .likeButton:active, .likeButton:focus {
	color: #23d78d;
}
.unlikeButton, .unlikeButton:hover, .unlikeButton:active, .unlikeButton:focus {
	color: #c2264e;
}


#addTagContainer{
	/*margin: 15px 0 0 0;*/
	  background-color: #2b2939;
}
#addTagInputAndButton{
	padding: 0 15px 15px 15px;
}
#addTagInputAndButton input {
	/*width: 70%;*/
	height: 28px;
	background-color: black;
  	border: 2px solid #0c2e2e;
  	border-left: 3px solid #289b9b;
  	padding-left: 5px;
  	color: gainsboro;
}
#addTagInputAndButton button {
	background-color: black;
	border: none;
	border-radius: 0;
	color: #8f451b;
}

.removeButton{
	color: #8f8f99;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 20;
}
.removeButton :hover{
	/*color: red;*/
	/*top: -1px;
	left: -1px;*/
	font-size: 120%;
}
/*.removeButton :active{
	opacity: 0;
}*/
.brightText {
	color: #dfdfdf;
}

@media only screen and (min-width: 769px) {/*Desktop*/
	/*body {
		background: url('../img/background_player.jpg') no-repeat center center;
		background-size: cover;
	}*/
	/*#viewPhotos {
		width: 640px;
  		height: 360px;
	}*/
	#media-player {
		margin-right: 60px;
		/*margin-bottom: 15px;*/
	}
	#tagsHolder{
		/*width: 30%;*/
		min-width: 30%;
		overflow: hidden;
		height: 423px;
		margin-bottom: 15px;
		margin-right: 0;
		display: table;
		/* height: 483px; */
		/*padding: 10px;*/
		/* float: right; */
		/*position: absolute;*/
		/*top: 70px;*/
		/*right: 10%;*/
	}
	#tagsContainer {
		height: 309px;
		max-height: 309px;
	}
	#viewContainer {
	  background-color: black;
	   width: 640px; 
	   height: 360px; 
	}
}
@media only screen and (min-width: 481px) and (max-width: 768px) {/*Tablet*/
	
}
@media only screen and (max-width: 480px) {/*mobile*/
	#media-player {
	  /* width: 70%; */
	  /* padding: 1em 1em .5em; */
	  width: 100%;
	  /* height: 360px; */
	  text-align: center;
	  float: left;
	  /* border-right: 1px solid #AEAFAF; */
	  margin-bottom: 15px;
	}
	#tagsHolder {
		/*background-color: #E0E1E1;*/
		margin-bottom: 15px;
		display: table;
		width: 100%;
	}
	#viewPhotos {
	  height: 163px;
	}
	#viewOptions {
	  display: table;
	  width: 79.5%;
	}
	#viewerBottom {
	  /* position: relative; */
	  background-color: rgb(33,33,34);
	   width: 97%; 
	}
	#transparent {
	  width: 83%;
	  height: 186px;
	}
	#viewContainer {
	   width: inherit; 
	   height: inherit;
	}
	#videoDescriptionHolder {
	  margin-top: 15px;
	}
	#ownerDetails {
	  width: 55%;
	}
	#dateAndFavorites {
	  width: 40%;
	}
	.element {
 		padding: 8px;
	}
}






