#myRecordingsWrapper {
	min-height: 500px;
	background: url('../../includes/img/bodyPurpleBg.jpg') no-repeat;
	background-size:100%;
}

.editVideoButton {
	position: absolute;
	top: 5px;
	right: 12px;
	z-index: 999;
	height: 30px;
	width: 30px;
	border: 0px;
	background: url('../../includes/img/edit_editSmall.jpg') no-repeat;
}

.editVideoButton a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: #FFFFFF;
}

#myRecordingsPage{
	color: #FFFFFF !important;
	font-weight: bolder;
}



