#contentHolder {
	width: 1000px;
	margin: 0 auto;
}

#userProfilePic {
	padding-top: 20px;
	text-align: center;
}

#userProfilePic .profilePic {
	width: 80px;
	height: 80px;
	background: #1C454B;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	background-position: 50% 50%;
	float: none;
}

#name {
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #ff9a17;
}

#followedUsers {
	padding: 34px;
}

#followedUsers .profilePic {
	width: 50px;
	height: 50px;
	background: #1C454B;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	background-position: 50% 50%;
	float: none;
	margin-left: 10px;
}

#fwTitle, #urTitle {
	padding-top: 13px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #ff9a17;
	font-size: 25px;
	font-weight: bolder;
	padding-left: 34px;
}

