/******************************************/
/************** Global style **************/
/******************************************/
* {
	margin: 0px;
	padding: 0px;
}

header, footer, nav, main, section, article, aside {
	display: block;
}

body {
	background: url('../../includes/img/bodyBg.jpg');
}


#wrapper {
	min-height: 500px;
	background: url('../../includes/img/bodyPurpleBg.jpg') no-repeat;
	background-size: 100%;
}

#videosWrapper {
	min-height: 300px;
	width: 960px;
	margin: 0 auto;
}

.clear {
	clear: both;
}

/******************************************/
/******* Global style - Mobile ************/
/******************************************/
@media only screen and (max-width: 480px) {
	#wrapper {
		width: 480px;
	}

	#videosWrapper {
		min-height: 300px;
		width: 480px;
		margin: 0px;
	}
}

/******************************************/
/******* Global style - Tablet ************/
/******************************************/
@media only screen and (min-width: 481px) and (max-width: 1023px) {
	#wrapper {
		width: 100%;
	}

	#videosWrapper {
		min-height: 300px;
		width: 100%;
		margin: 0px;
	}
	
	.col-md-3 {
		float: left;
		width: 50%;
		margin-bottom: 20px;
	}

	.row {
		margin: 0px;
		padding: 0px !important;
	}
}


/****************************************/
/****** Bootstrap Row overwrite *********/
/****************************************/
.row {
	padding: 15px;
}

/***************************************************/
/*************** Scroll to top widget **************/
/***************************************************/
.scrollToTop {
	width: 50px;
	height: 50px;
	padding: 10px;
	text-align: center;
	background: whiteSmoke;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position: fixed;
	bottom: 75px;
	right: 50px;
	display: none;
	background: url('../../includes/img/scrollUp.png') no-repeat;
	background-size: cover;
}

.scrollToTop:hover {
	text-decoration: none;
}

/***************************************************/
/******** Scroll to top widget - MOBILE ************/
/***************************************************/
@media only screen and (max-width: 480px) {
	.scrollToTop {
		bottom: 15px;
		right: 15px;
	}
}

/**********************************************************/
/*************** Loade more videos message ****************/
/**********************************************************/
#loadingMoreMessage {
	text-align: center;
	border-right: 1px solid #AEAFAF;
	background-color: #1C454B;
	color: white;
	line-height: 30px;
	display: none;
}

/*************************************************/
/*************** Top navigation bar **************/
/*************************************************/
#topNav {
	padding: 3px;
	background-color: #2b2939;
	height: 70px;
	border-bottom: 2px solid #000;
}

.navbar {
	border-radius: 0px;
	border: 0px;
	margin-bottom: 0px;
}

.icon-bar {
	background-color: #888;
}

.navbar-default .navbar-toggle {
	border-color: #ddd;
}

#navPagesLinks {
	margin-top: 35px;
	margin-left: 18px;
	font-size: 14px;
}

#navPagesLinks a {
	background: #2b2939;
	padding-right: 30px;
}

.navbar-brand {
	margin: 0px;
	margin-top: 14px;
	padding: 0px;
}

.navbar > .container-fluid .navbar-brand {
	margin-left: 60px;
}

.navbar-nav > li > a {
	padding: 0px;
	color: #ff7b30 !important;
}

.dropdown {
	margin: 12px 90px 0px 0px;
}

.navbar-toggle {
	margin-top: 18px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #000;
	color: red;
}

.container-fluid {
	padding-left: 100px;
}

.profilePic {
	width: 30px;
	height: 30px;
	background: #000;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	float: left;
}

#userName {
	padding: 0px 5px;
}

#userTopNavDetailsWrapper {
	margin: 4px 30px;
	float: right;
	width: 200px;
}

#searchQuery {
	color: #FFFFFF;
	height: 33px !important;
	width: 150px;
	background: transparent;
	border: 0px;
	border-bottom: 4px solid #555461;
	border-radius: 0px;
}

#searchHolder {
	margin-top: 24px;
	padding-left: 5px;
	border-left: 4px solid #27cbc5;
}

#navDropDown {
	margin: 27px 145px 0px 0px !important;
	display: inline;
	background: #000000;
}

#toggledMenuTopNav {
	background-color: #2b2939 !important;
}

#toggledMenuTopNav > li > a {
	color: #ff7b30 !important;
}

#toggledMenuTopNav > li > a:hover, #toggledMenuTopNav > li > a:focus {
	color: #262626;
	text-decoration: none;
	background-color: #000;
}

#navDropDown > a:hover, #navDropDown > a:focus {
	background-color: #000;
}

/*************************************************/
/********* Top navigation bar - MOBILE ***********/
/*************************************************/
@media only screen and (max-width: 480px) {


	.navbar-default .navbar-form {
		position: relative;
		border: 0px;
		z-index: 1000;
		background-color: #2b2939;
	}

	#navPagesLinks {
		margin: 0px;
	}

	#navPagesLinks li > a {
		padding: 10px 20px 10px 20px;
	}

	#navPagesLinks li > a:hover {
		background-color: #000;
	}

	#searchHolder {
		background-color: #2b2939;
		position: relative;
		z-index: 1000;
		margin: 0px;
		padding: 0px;
		margin-top: 10px;
		margin-left: 20px;
	}

	#searchQuery {
		width: 100%;
	}

	#navbar-collapse {
		position: relative;
		background-color: #2b2939;
		z-index: 1000;
	}

	#navDropDown > a {
		padding-left: 40px;
		background: #000;
	}

	#navDropDown > ul {
		padding-left: 20px;
		background-color: #2b2939;
	}

	#toggledMenuTopNav > li > a:hover, #toggledMenuTopNav > li > a:focus {
		color: #262626;
		text-decoration: none;
		background-color: #000;
	}

	.navbar > .container-fluid .navbar-brand {
		margin-left: 0px;
	}

	.container-fluid {
		padding-left: 30px;
	}
}

/*************************************************/
/********* Top navigation bar - TABLET ***********/
/*************************************************/
@media only screen and (min-width: 481px) and (max-width: 1023px) {

	.navbar > .container-fluid .navbar-brand {
		margin-left: 10px;
	}

	.container-fluid {
		padding: 0px;
	}
	#navDropDown {
		margin: 20px 10px 0px 0px !important;
	}

	#navPagesLinks a {
		width: 80%;
		text-align: center;
		padding: 0px;
	}

	.nav > li {
		bottom: 10px;
	}

	#userName {
		display: none;
	}

	#navDropDown img {
		background: #000000;
	}

	#topNavProfilePic {
		height: 45px;
		width: 45px
	}
	#navPagesLinks {
		margin-top: 30px;
	}
}
/***************************************************************/
/******************** Single video container *******************/
/***************************************************************/

.singleVideoWrapper {
	width: 218px;
	min-height: 265px;
	margin: 0 auto;
	background-color: #212122;
	border: 3px solid #443e60;
}

.smallAndBold {
	font-weight: bolder;
	font-family: 'Segoe SemiBold', Arial, sans-serif;
	padding-right: 3px;
}

.videoImage {
	width: 218px;
	height: 115px;
}

.videoImage img {
	width: 212px;
	height: 115px;
	position: relative;
}

.videoParticipants {
	padding: 3px;
}

.videoParticipants img {
	padding-bottom: 3px;
}

.videoParticipants .profilePic {
	float: none; /*runs over original setting*/
	margin-left: 5px;
}

.videoTitle {
	font-family: 'Segoe UI regular', Arial, sans-serif;
	padding: 10px 10px 0px 10px;
	font-size: 14px;
	font-weight: bolder;
	color: #ffaf30;
}

.videoTitle a, a:visited, a:focus, a:active {
	color: #ffaf30;
	text-decoration: none;
}

.videoTitle a:hover {
	color: #ffaf30;
	text-decoration: none;
}

.contentHolder {
	min-height: 150px;
	background-color: #212122;
}

.videoDetails {
	padding: 15px 10px 0px 11px;
	font-size: 12px;
	color: #FFFFFF;
}

.videoLecturer {
	padding: 8px 10px 0px 11px;
	font-size: 12px;
	color: #FFFFFF;
}

.videoViews {
	color: #9a9a9c;
	font-size: 12px;
	margin: 0px 10px;
	padding: 2px;
	border-top: 1px solid #646172;
}

.videoViews .glyphicon {

	padding-right: 3px;
	margin-top: 1px;
}

.videoRecordDate {
	padding: 0 5px;
}

.videotimeHolder {
	font-size: 14px;
	display: inline-block;
	border-right: 2px solid #68657c;
	color: #cbcbcb;
	padding: 10px 20px 10px 10px;
	background: #000;
}

/***************************************************************/
/************ Single video container - MOBILE ******************/
/***************************************************************/
@media only screen and (max-width: 1023px) {

	.singleVideoWrapper {
		width: 450px;
		min-height: 0px;
		margin-bottom: 20px;
	}

	.row {
		margin: 0px;
		padding: 0px;
	}

	.videoImage {
		width: 200px;
		float: left;
	}

	.videoImage img {
		width: 200px;
		height: 100px;
		float: left;
	}

	.videotimeHolder {
		float: right;
		border: 0px;
		padding: 5px 5px 5px 5px;
	}

	.videoTitle {
		display: inline;
		padding: 2px;
	}

	.videoDetails, .videoLecturer {
		padding: 2px 10px 0px 2px;
	}

	.contentHolder {
		width: 190px;
		padding: 3px;
		float: left;
		min-height: 0;
	}

	.videoViews, .videoParticipants {
		display: inline-block;
		width: 420px;
	}
}
/***************************************************************/
/*********************** Loading spinner (big one)**************/
/***************************************************************/
.loading {
	margin-top: 30px;
	text-align: center;
}

.loadingText {
	font-size: 16px;
	color: #FFFFFF;
}

/***************************************************************/
/********* Currently visited - menu - BOLD *********************/
/***************************************************************/

.bold {
	font-weight: bolder;
}

/***************************************************************/
/****************************** Page Title *********************/
/***************************************************************/

#title {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #ff9a17;
	direction: rtl;
	text-align: center;
	padding: 10px 0 10px 0;
}